# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [6]:
len(pokemon[pokemon["Legendary"]==False]), len(pokemon[pokemon["Legendary"]==True])

(735, 65)

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [17]:
noleg_point=pokemon["Total"][pokemon["Legendary"]==False]
leg_point=pokemon["Total"][pokemon["Legendary"]==True]

noleg_mean=pokemon["Total"][pokemon["Legendary"]==False].mean()
noleg_std=pokemon["Total"][pokemon["Legendary"]==False].std()

leg_mean=pokemon["Total"][pokemon["Legendary"]==True].mean()
leg_sdt=pokemon["Total"][pokemon["Legendary"]==True].std()

noleg_mean, leg_mean, noleg_std, leg_sdt

(417.21360544217686, 637.3846153846154, 106.76041745713022, 60.93738905315346)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [19]:
Ho= "legendary total points == no legendary total points"
Ha= "legendary total points != no legendary total points"

In [21]:
from scipy.stats import ttest_ind

t_test = ttest_ind(noleg_point,leg_point,  equal_var=False)

What do you conclude from this test? Write your conclusions below.

In [22]:
if (t_test.pvalue < 0.05):
    print(f'{t_test.pvalue}, We reject the Ho thus, {Ha}')
else:
    print(f'{t_test.pvalue}, We cannot reject Ho i.e., {Ho}')

9.357954335957446e-47, We reject the Ho thus, legendary total points != no legendary total points

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [32]:
pokemon.head()
#pokemon["Type 1"].value_counts().index

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [94]:
### transform the table into a dictionary
df=pokemon
colnam_groups="Type 1"
colnam_values="Total"

groups=list(df[colnam_groups].value_counts().index)
data = {g: df[colnam_values][df[colnam_groups]==g] for g in groups}

### eval whether group A > to group B
mean_list=list()
std_list=list()
for i in range(len(data)):
    mean_list.append(data["Water"].mean() > data[list(data.keys())[i]].mean())
    std_list.append(data["Water"].std() > data[list(data.keys())[i]].std())
    
# save the results in a table
keys=list(data.keys())
comp_mean_std_df = pd.DataFrame({
    "GroupA": ["Water"] * len(keys),
    "GroupB": keys,
    "Mean": mean_list,
    "Std": std_list
})

## is the mean and std of groupA LARGER than group B??
comp_mean_std_df

   Column1   Column2   Mean    Std
0    Water     Water  False  False
1    Water    Normal   True  False
2    Water     Grass   True   True
3    Water       Bug   True  False
4    Water   Psychic  False  False
5    Water      Fire  False   True
6    Water  Electric  False   True
7    Water      Rock  False   True
8    Water    Dragon  False  False
9    Water    Ground  False  False
10   Water     Ghost  False   True
11   Water      Dark  False   True
12   Water    Poison   True   True
13   Water     Steel  False  False
14   Water  Fighting   True   True
15   Water       Ice  False   True
16   Water     Fairy   True  False
17   Water    Flying  False  False

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

#### considering only TWO GROUPS WATER VS. NO WATER

In [104]:

Ho= "WATER total points == NO water total points"
Ha= "WATER total points != NO water total points"

water=pokemon["Total"][pokemon["Type 1"]=="Water"]
nowater=pokemon["Total"][pokemon["Type 1"]!="Water"]

t_test = ttest_ind(water, nowater,  equal_var=True)

Write your conclusion below.

In [105]:
if (t_test.pvalue < 0.05):
    print(f'{t_test.pvalue}, We reject the Ho thus, there is significant difference: {Ha}')
else:
    print(f'{t_test.pvalue}, We cannot reject Ho i.e., {Ho}')

0.6587140317488793, We cannot reject Ho i.e., WATER total points == NO water total points

#### considering WATER  Vs Each group (pair-wise)

In [101]:
for i in range(len(data)):
    t_test = ttest_ind(data["Water"], data[list(data.keys())[i]],  equal_var=True)
    
    Ho= f' WATER == {list(data.keys())[i]}'
    Ha= f' WATER != {list(data.keys())[i]}'

    
    if (t_test.pvalue < 0.05):
        print(f'{t_test.pvalue}, We reject the Ho thus, {Ha}')
    else:
        print(f'{t_test.pvalue}, We cannot reject Ho i.e., {Ho}')

1.0, We cannot reject Ho i.e.,  WATER == Water
0.07042188260586342, We cannot reject Ho i.e.,  WATER == Normal
0.581639254174863, We cannot reject Ho i.e.,  WATER == Grass
0.0038548781665409104, We reject the Ho thus,  WATER != Bug
0.023680970625352817, We reject the Ho thus,  WATER != Psychic
0.1440191557485167, We cannot reject Ho i.e.,  WATER == Fire
0.5134433259970335, We cannot reject Ho i.e.,  WATER == Electric
0.24328992443308184, We cannot reject Ho i.e.,  WATER == Rock
2.1352166466685194e-06, We reject the Ho thus,  WATER != Dragon
0.7615857927492209, We cannot reject Ho i.e.,  WATER == Ground
0.6869629027430053, We cannot reject Ho i.e.,  WATER == Ghost
0.5036228889206, We cannot reject Ho i.e.,  WATER == Dark
0.17784523406914793, We cannot reject Ho i.e.,  WATER == Poison
0.020189304895386166, We reject the Ho thus,  WATER != Steel
0.5578259589757799, We cannot reject Ho i.e.,  WATER == Fighting
0.9055978314393027, We cannot reject Ho i.e.,  WATER == Ice
0.5633643398463386, We cannot reject Ho i.e.,  WATER == Fairy
0.3520704454796231, We cannot reject Ho i.e.,  WATER == Flying

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [125]:
from scipy.stats import ttest_rel


t_test=ttest_rel(pokemon["Attack"], pokemon["Defense"])

Describe the results of the test in the cell below.

In [126]:
Ho= "Attack == Defense pokemons"
Ha= "Attack != Defense along pokemons"

if (t_test.pvalue < 0.05):
    print(f'{t_test.pvalue}, We reject the Ho thus, there is significant difference:  {Ha}')
else:
    print(f'{t_test.pvalue}, We cannot reject Ho i.e., {Ho}')

1.7140303479358558e-05, We reject the Ho thus, there is significant difference:  Attack != Defense along pokemons

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [117]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [120]:

t_test=ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])

Ho= "special Attack == special Defense pokemons"
Ha= "special Attack != special Defense along pokemons"

if (t_test.pvalue < 0.05):
    print(f'{t_test.pvalue}, We reject the Ho thus, there is significant difference:{Ha}')
else:
    print(f'{t_test.pvalue}, We cannot reject Ho i.e., {Ho}')

0.3933685997548122, We cannot reject Ho i.e., special Attack == special Defense pokemons

Describe the results of the test in the cell below.

#### conclusions 

There is no signficant difference between special attack and special defense along the pokemons
However, we found there is actually a significant difference between attack and defense

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [135]:
from scipy.stats import ttest_1samp

AA= t_test=ttest_rel(pokemon["Attack"], pokemon["Defense"])

BB= ttest_1samp(pokemon["Attack"]-pokemon["Defense"],0, alternative="two-sided")

AA == BB    # it is actually the same thing

if (BB.pvalue < 0.05):
    print(f'{BB.pvalue}, We reject the Ho thus, there is significant difference:{Ha}')
else:
    print(f'{BB.pvalue}, We cannot reject Ho i.e., {Ho}')

1.7140303479358558e-05, We reject the Ho thus, there is significant difference:Attack != Defense along pokemons

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [143]:
df=pokemon
df["Water"]=df["Type 1"]=="Water"
contig=pd.crosstab(df["Legendary"], df["Water"])
contig

Water      False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [159]:
help(chi2_contingency)

Help on function chi2_contingency in module scipy.stats.contingency:

chi2_contingency(observed, correction=True, lambda_=None)
    Chi-square test of independence of variables in a contingency table.

    This function computes the chi-square statistic and p-value for the
    hypothesis test of independence of the observed frequencies in the
    contingency table [1]_ `observed`.  The expected frequencies are computed
    based on the marginal sums under the assumption of independence; see
    `scipy.stats.contingency.expected_freq`.  The number of degrees of
    freedom is (expressed using numpy functions and attributes)::

        dof = observed.size - sum(observed.shape) + observed.ndim - 1


    Parameters
    ----------
    observed : array_like
        The contingency table. The table contains the observed frequencies
        (i.e. number of occurrences) in each category.  In the two-dimensional
        case, the table is often described as an "R x C table".
    correction : bool, optional
        If True, *and* the degrees of freedom is 1, apply Yates' correction
        for continuity.  The effect of the correction is to adjust each
        observed value by 0.5 towards the corresponding expected value.
    lambda_ : float or str, optional
        By default, the statistic computed in this test is Pearson's
        chi-squared statistic [2]_.  `lambda_` allows a statistic from the
        Cressie-Read power divergence family [3]_ to be used instead.  See
        `power_divergence` for details.

    Returns
    -------
    chi2 : float
        The test statistic.
    p : float
        The p-value of the test
    dof : int
        Degrees of freedom
    expected : ndarray, same shape as `observed`
        The expected frequencies, based on the marginal sums of the table.

    See Also
    --------
    contingency.expected_freq
    fisher_exact
    chisquare
    power_divergence
    barnard_exact
    boschloo_exact

    Notes
    -----
    An often quoted guideline for the validity of this calculation is that
    the test should be used only if the observed and expected frequencies
    in each cell are at least 5.

    This is a test for the independence of different categories of a
    population. The test is only meaningful when the dimension of
    `observed` is two or more.  Applying the test to a one-dimensional
    table will always result in `expected` equal to `observed` and a
    chi-square statistic equal to 0.

    This function does not handle masked arrays, because the calculation
    does not make sense with missing values.

    Like stats.chisquare, this function computes a chi-square statistic;
    the convenience this function provides is to figure out the expected
    frequencies and degrees of freedom from the given contingency table.
    If these were already known, and if the Yates' correction was not
    required, one could use stats.chisquare.  That is, if one calls::

        chi2, p, dof, ex = chi2_contingency(obs, correction=False)

    then the following is true::

        (chi2, p) == stats.chisquare(obs.ravel(), f_exp=ex.ravel(),
                                     ddof=obs.size - 1 - dof)

    The `lambda_` argument was added in version 0.13.0 of scipy.

    References
    ----------
    .. [1] "Contingency table",
           https://en.wikipedia.org/wiki/Contingency_table
    .. [2] "Pearson's chi-squared test",
           https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test
    .. [3] Cressie, N. and Read, T. R. C., "Multinomial Goodness-of-Fit
           Tests", J. Royal Stat. Soc. Series B, Vol. 46, No. 3 (1984),
           pp. 440-464.

    Examples
    --------
    A two-way example (2 x 3):

    >>> from scipy.stats import chi2_contingency
    >>> obs = np.array([[10, 10, 20], [20, 20, 20]])
    >>> chi2_contingency(obs)
    (2.7777777777777777,
     0.24935220877729619,
     2,
     array([[ 12.,  12.,  16.],
            [ 18.,  18.,  24.]]))

    Perform the test using the log-likelihood ratio (i.e. the "G-test")
    instead of Pearson's chi-squared statistic.

    >>> g, p, dof, expctd = chi2_contingency(obs, lambda_="log-likelihood")
    >>> g, p
    (2.7688587616781319, 0.25046668010954165)

    A four-way example (2 x 2 x 2 x 2):

    >>> obs = np.array(
    ...     [[[[12, 17],
    ...        [11, 16]],
    ...       [[11, 12],
    ...        [15, 16]]],
    ...      [[[23, 15],
    ...        [30, 22]],
    ...       [[14, 17],
    ...        [15, 16]]]])
    >>> chi2_contingency(obs)
    (8.7584514426741897,
     0.64417725029295503,
     11,
     array([[[[ 14.15462386,  14.15462386],
              [ 16.49423111,  16.49423111]],
             [[ 11.2461395 ,  11.2461395 ],
              [ 13.10500554,  13.10500554]]],
            [[[ 19.5591166 ,  19.5591166 ],
              [ 22.79202844,  22.79202844]],
             [[ 15.54012004,  15.54012004],
              [ 18.10873492,  18.10873492]]]]))

TypeError: 'NoneType' object is not subscriptable

In [162]:
from scipy.stats import chi2_contingency

f'p_value= {chi2_contingency(contig)[1]}'

'p_value= 0.08625467249550949'

Based on a 95% confidence, should we reject the null hypothesis?

In [163]:
# Your answer here:

chi2_contingency(contig)[1] < 0.05

False

p value of Chi2 test is larger than 0.05, thus, with a 95% confidence we CANNOT reject the Ho.
in other words, We **do not find signficant association in the frequency** between Legendary and Water type pokemons.