# Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](https://researchbasics.education.uconn.edu/t-test/) and [this Quora](https://www.quora.com/What-is-the-difference-between-a-paired-and-unpaired-t-test). Make sure you understand when to use which type of t-test.

In [8]:
# Import libraries

import pandas as pd

#### Import dataset

In this challenge we will work on the Pokemon dataset you have used last week. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.).

In [9]:
# Import dataset

pokemon = pd.read_csv('pokemon.csv')

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [25]:
## I THINK WE NEED TO USE PAIRED-TTEST
from scipy.stats import ttest_rel

def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    #results = {}
    
    
    if len(s1) > len(s2):
        s1=s1.sample(len(s2))
        
    if len(s1) < len(s2):
        s2=s2.sample(len(s1))
    
    res_values=[ttest_rel(s1[FFF], s2[FFF], alternative ="two-sided").pvalue for FFF in features]
    results = dict(zip(features, res_values))
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [27]:
features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']

noleg_point=pokemon[pokemon["Legendary"]==False]
leg_point=pokemon[pokemon["Legendary"]==True]

t_test_features(noleg_point,leg_point, features)

{'HP': 3.186925696395806e-10,
 'Attack': 1.4715751808062637e-10,
 'Defense': 1.1324643515524825e-07,
 'Sp. Atk': 5.222369242007887e-16,
 'Sp. Def': 1.079542098618284e-12,
 'Speed': 9.006963333024412e-09,
 'Total': 6.95351813764137e-24}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [29]:
#YES INDEED

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [30]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [31]:
features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']

GEN1point=pokemon[pokemon["Generation"]==1]
GEN2point=pokemon[pokemon["Generation"]==2]

t_test_features(GEN1point,GEN2point, features)

{'HP': 0.19902020368444942,
 'Attack': 0.18178418265909066,
 'Defense': 0.6016792707516521,
 'Sp. Atk': 0.029157701807589986,
 'Sp. Def': 0.5370840928711009,
 'Speed': 0.011222906018069112,
 'Total': 0.36299368033526}

#### What conclusions can you make?

In [ ]:
# NO DIFF FOR THE EXCEPTION OF SP ATTACK AND SPEED (CONSIDERING 95% CONF)

#### Compare pokemons who have single type vs those having two types.

In [32]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [38]:
onetypes=pokemon[pokemon["Type 2"].isna()]
moretypes=pokemon[~pokemon["Type 2"].isna()]

t_test_features(GEN1point,GEN2point, features)

{'HP': 0.5738268252138626,
 'Attack': 0.19167476675581896,
 'Defense': 0.5886265780262264,
 'Sp. Atk': 0.06461788743986023,
 'Sp. Def': 0.25732137330531957,
 'Speed': 0.004367744073550881,
 'Total': 0.340954713101544}

#### What conclusions can you make?

In [39]:
# NO DIFF FOR THE EXCEPTION OF SP ATTACK AND SPEED (CONSIDERING 95% CONF), NOW WITH MORE SIGNIFICANCE (LOWER P VAL)