# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import dataanalysis_fun1 as mlg

# Introduction

In this lab, we will use two datasets. Both datasets contain variables that describe apps from the Google Play Store. We will use our knowledge in feature extraction to process these datasets and prepare them for the use of a ML algorithm.

# Challenge 1 - Loading and Extracting Features from the First Dataset

#### In this challenge, our goals are: 

* Exploring the dataset.
* Identify the columns with missing values.
* Either replacing the missing values in each column or drop the columns.
* Conver each column to the appropriate type.

#### The first dataset contains different information describing the apps. 

Load the dataset into the variable `google_play` in the cell below. The dataset is in the file `googleplaystore.csv`

In [2]:
df=pd.read_csv("../googleplaystore.csv")

#### Examine all variables and their types in the following cell

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [4]:
mlg.na_absperc(df)

                abs_NA    perc_NA
Rating            1474  13.596532
Current Ver          8   0.073794
Android Ver          3   0.027673
Type                 1   0.009224
Content Rating       1   0.009224

In [6]:
object_sum=mlg.categ_summ(df)
object_sum.sort_values("resto_per", ascending=False)

,count,unique,top,freq,unicount_ratio,resto_abs,resto_per
App,10841,9660,ROBLOX,9,0.891062,10832,99.916982
Last Updated,10841,1378,"August 3, 2018",326,0.12711,10515,96.992897
Reviews,10841,6002,0,596,0.553639,10245,94.502352
Genres,10841,120,Tools,842,0.011069,9999,92.233189
Current Ver,10833,2832,Varies with device,1459,0.261423,9374,86.531893
Installs,10841,22,"1,000,000+",1579,0.002029,9262,85.434923
Size,10841,462,Varies with device,1695,0.042616,9146,84.364911
Category,10841,34,FAMILY,1972,0.003136,8869,81.809796
Android Ver,10838,33,4.1 and up,2451,0.003045,8387,77.385126
Content Rating,10840,6,Everyone,8714,0.000554,2126,19.612546
Type,10840,3,Free,10039,0.000277,801,7.389299
Price,10841,93,0,10040,0.008579,801,7.388617

#### Since this dataset only contains one numeric column, let's skip the `describe()` function and look at the first 5 rows using the `head()` function

In [5]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

#### We can see that there are a few columns that could be coerced to numeric.

Start with the reviews column. We can evaluate what value is causing this column to be of object type finding the non-numeric values in this column. To do this, we recall the `to_numeric()` function. With this function, we are able to coerce all non-numeric data to null. We can then use the `isnull()` function to subset our dataframe using the True/False column that this function generates.

In the cell below, transform the Reviews column to numeric and assign this new column to the variable `Reviews_numeric`. Make sure to coerce the errors.

In [6]:
df1=df.copy()
df1['Reviews_numeric'] = pd.to_numeric(df1['Reviews'], errors='coerce')
df1['Reviews_numeric']=df1['Reviews_numeric'].isnull()
df1.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up,False
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up,False
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up,False
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up,False
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up,False

Next, create a column containing True/False values using the `isnull()` function. Assign this column to the `Reviews_isnull` variable.

DONE ABOVE

Finally, subset the `google_play` with `Reviews_isnull`. This should give you all the rows that contain non-numeric characters.

Your output should look like:

![Reviews_bool.png](reviews-bool.png)

In [7]:
df1a=df1[df1["Reviews_numeric"]==True]

#### We see that Google Play is using a shorthand for millions. 

Let's write a function to transform this data.

Steps:

1. Create a function that returns the correct numeric values of *Reviews*.
1. Define a test string with `M` in the last character.
1. Test your function with the test string. Make sure your function works correctly. If not, modify your functions and test again.

In [8]:
def convert_string_to_numeric(s):
    """
    Convert a string value to numeric. If the last character of the string is `M`, obtain the 
    numeric part of the string, multiply it with 1,000,000, then return the result. Otherwise, 
    convert the string to numeric value and return the result.
    
    Args:
        s: The Reviews score in string format.

    Returns:
        The correct numeric value of the Reviews score.
        
    """
    
    
    try:
        s=float(s)
    
    except:
        s=s.upper()
        
        if "K" in s:
            s=float(s.replace("K", ""))*1_000
            
        elif "M" in s:
            s=float(s.replace("M", ""))*1_000_000
            
        else:
            s=None
    return s

The last step is to apply the function to the `Reviews` column in the following cell:

In [9]:
df1["Reviews"]=df1["Reviews"].apply(convert_string_to_numeric)

In [10]:
df1[df1["Reviews_numeric"]==True]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Reviews_numeric
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3000000.0,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN,True

Check the non-numeric `Reviews` row again. It should have been fixed now and you should see:

![Reviews_bool_fixed.png](reviews-bool-fixed.png)

Also check the variable types of `google_play`. The `Reviews` column should be a `float64` type now.

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   App              10841 non-null  object
 1   Category         10841 non-null  object
 2   Rating           9367 non-null   float64
 3   Reviews          10841 non-null  float64
 4   Size             10841 non-null  object
 5   Installs         10841 non-null  object
 6   Type             10840 non-null  object
 7   Price            10841 non-null  object
 8   Content Rating   10840 non-null  object
 9   Genres           10841 non-null  object
 10  Last Updated     10841 non-null  object
 11  Current Ver      10833 non-null  object
 12  Android Ver      10838 non-null  object
 13  Reviews_numeric  10841 non-null  bool
dtypes: bool(1), float64(2), object(11)
memory usage: 1.1+ MB

#### The next column we will look at is `Size`. We start by looking at all unique values in `Size`:

*Hint: use `unique()` ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html))*.

In [12]:
df1["Size"].unique()[:19]

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M'], dtype=object)

You should have seen lots of unique values of the app sizes.

#### While we can convert most of the `Size` values to numeric in the same way we converted the `Reviews` values, there is one value that is impossible to convert.

What is that badass value? Enter it in the next cell and calculate the proportion of its occurence to the total number of records of `google_play`.

In [13]:
df2=df1.copy()

df2["Size"]=df2["Size"].apply(convert_string_to_numeric)
df2["Size"]

0        19000000.0
1        14000000.0
2         8700000.0
3        25000000.0
4         2800000.0
            ...
10836    53000000.0
10837     3600000.0
10838     9500000.0
10839           NaN
10840    19000000.0
Name: Size, Length: 10841, dtype: float64

#### While this column may be useful for other types of analysis, we opt to drop it from our dataset. 

There are two reasons. First, the majority of the data are ordinal but a sizeable proportion are missing because we cannot convert them to numerical values. Ordinal data are both numerical and categorical, and they usually can be ranked (e.g. 82k is smaller than 91M). In contrast, non-ordinal categorical data such as blood type and eye color cannot be ranked. The second reason is as a categorical column, it has too many unique values to produce meaningful insights. Therefore, in our case the simplest strategy would be to drop the column.

Drop the column in the cell below (use `inplace=True`)

In [14]:
df2.drop("Size", axis=1, inplace=True)

#### Now let's look at how many missing values are in each column. 

This will give us an idea of whether we should come up with a missing data strategy or give up on the column all together. In the next column, find the number of missing values in each column: 

*Hint: use the `isna()` and `sum()` functions.*

In [15]:
mlg.na_absperc(df2)

                abs_NA    perc_NA
Rating            1474  13.596532
Current Ver          8   0.073794
Android Ver          3   0.027673
Type                 1   0.009224
Content Rating       1   0.009224

You should find the column with the most missing values is now `Rating`.

#### What is the proportion of the missing values in `Rating` to the total number of records?

Enter your answer in the cell below.

In [176]:
# 13.596532, too high

A sizeable proportion of the `Rating` column is missing. A few other columns also contain several missing values.

#### We opt to preserve these columns and remove the rows containing missing data.

In particular, we don't want to drop the `Rating` column because:

* It is one of the most important columns in our dataset. 

* Since the dataset is not a time series, the loss of these rows will not have a negative impact on our ability to analyze the data. It will, however, cause us to lose some meaningful observations. But the loss is limited compared to the gain we receive by preserving these columns.

In the cell below, remove all rows containing at least one missing value. Use the `dropna()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html)). Assign the new dataframe to the variable `google_missing_removed`.

In [32]:
df3=df2.copy()
df3=df3.dropna()

df2.shape, df3.shape

((10841, 13), (9360, 13))

From now on, we use the `google_missing_removed` variable instead of `google_play`.

#### Next, we look at the `Last Updated` column.

The `Last Updated` column seems to contain a date, though it is classified as an object type. Let's convert this column using the `pd.to_datetime` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)).

In [33]:
# df3.loc[1,"Last Updated"], pd.to_datetime(df3.loc[1,"Last Updated"])

('January 15, 2018', Timestamp('2018-01-15 00:00:00'))

In [34]:
df3["Last Updated"] = df3["Last Updated"].apply(pd.to_datetime)

In [19]:
# df3["Last Updated"]

0       2018-01-07
1       2018-01-15
2       2018-08-01
3       2018-06-08
4       2018-06-20
           ...
10834   2017-06-18
10836   2017-07-25
10837   2018-07-06
10839   2015-01-19
10840   2018-07-25
Name: Last Updated, Length: 9360, dtype: datetime64[ns]

#### The last column we will transform is `Price`. 

We start by looking at the unique values of this column.

In [35]:
df3["Price"].sample(5)

3413        0
6549    $2.99
2722        0
1642        0
1100        0
Name: Price, dtype: object

Since all prices are ordinal data without exceptions, we can tranform this column by removing the dollar sign and converting to numeric. We can create a new column called `Price Numerical` and drop the original column.

We will achieve our goal in three steps. Follow the instructions of each step below.

#### First we remove the dollar sign. Do this in the next cell by applying the `str.replace` function to the column to replace `$` with an empty string (`''`).

In [36]:
df3["Price Numerical"] = df3["Price"].str.replace("$", "")

#### Second step, coerce the `Price Numerical` column to numeric.

In [ ]:
df3["Price Numerical"]=df3["Price Numerical"].apply(float)

**Finally, drop the original `Price` column.**

In [39]:
df3.drop("Price", axis=1, inplace=True)

In [41]:
df3.drop("Reviews_numeric", axis=1, inplace=True)

Now check the variable types of `google_missing_removed`. Make sure:

* `Size` and `Price` columns have been removed.
* `Rating`, `Reviews`, and `Price Numerical` have the type of `float64`.
* `Last Updated` has the type of `datetime64`.

In [43]:
google_missing_removed=df3.copy()
google_missing_removed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   App              9360 non-null   object
 1   Category         9360 non-null   object
 2   Rating           9360 non-null   float64
 3   Reviews          9360 non-null   float64
 4   Installs         9360 non-null   object
 5   Type             9360 non-null   object
 6   Content Rating   9360 non-null   object
 7   Genres           9360 non-null   object
 8   Last Updated     9360 non-null   datetime64[ns]
 9   Current Ver      9360 non-null   object
 10  Android Ver      9360 non-null   object
 11  Price Numerical  9360 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(8)
memory usage: 1.2+ MB

# Challenge 2 - Loading and Extracting Features from the Second Dataset

Load the second dataset to the variable `google_reviews`. The data is in the file `googleplaystore_user_reviews.csv`.

In [49]:
df=pd.read_csv("../googleplaystore_user_reviews.csv")

#### This dataset contains the top 100 reviews for each app. 

Let's examine this dataset using the `head` function

In [50]:
len(df)

64295

#### The main piece of information we would like to extract from this dataset is the proportion of positive reviews of each app. 

Columns like `Sentiment_Polarity` and `Sentiment_Subjectivity` are not to our interests because we have no clue how to use them. We do not care about `Translated_Review` because natural language processing is too complex for us at present (in fact the `Sentiment`, `Sentiment_Polarity`, and `Sentiment_Subjectivity` columns are derived from `Translated_Review` the data scientists). 

What we care about in this challenge is `Sentiment`. To be more precise, we care about **what is the proportion of *Positive* sentiment of each app**. This will require us to aggregate the `Sentiment` data by `App` in order to calculate the proportions.

Now that you are clear about what we are trying to achieve, follow the steps below that will walk you through towards our goal.

#### Our first step will be to remove all rows with missing sentiment. 

In the next cell, drop all rows with missing data using the `dropna()` function and assign this new dataframe to `review_missing_removed`.

In [51]:
df.dropna(inplace=True)
len(df)

37427

#### Now, use the `value_counts()` function ([documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)) to get a sense on how many apps are in this dataset and their review counts.

In [52]:
df["App"].value_counts()

Bowmasters                        312
Helix Jump                        273
Angry Birds Classic               273
Calorie Counter - MyFitnessPal    254
Duolingo: Learn Languages Free    240
                                 ...
Draw a Stickman: EPIC 2             1
HD Camera                           1
Draw In                             1
Draw A Stickman                     1
Best Fiends - Free Puzzle Game      1
Name: App, Length: 865, dtype: int64

#### Now the tough part comes. Let's plan how we will achieve our goal:

1. We will count the number of reviews that contain *Positive* in the `Sentiment` column.

1. We will create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app.

1. We will then loop the new dataframe to calculate the postivie review portion of each app.

#### Step 1: Count the number of positive reviews.

In the following cell, write a function that takes a column and returns the number of times *Positive* appears in the column. 

*Hint: One option is to use the `np.where()` function ([documentation](https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.where.html)).*

In [118]:
df1=df.copy()
df1.head()
#df1["Sentiment"].unique()
#df1["Sentiment"]=[1 if i == "Positive" else 0 for i in df1["Sentiment"]]

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000
5,10 Best Foods for You,Best way,Positive,1.00,0.300000

In [119]:

google_agg = df.groupby("App")["Sentiment"].value_counts().unstack(fill_value=0)
google_agg["Total"]=google_agg["Negative"]+google_agg["Neutral"]+google_agg["Positive"]
google_agg.drop(["Negative", "Neutral"], axis=1, inplace=True)

#### Step 2: Create a new dataframe to contain the `App` name, the number of positive reviews, and the total number of reviews of each app

We will group `review_missing_removed` by the `App` column, then aggregate the grouped dataframe on the number of positive reviews and the total review counts of each app. The result will be assigned to a new variable `google_agg`. Here is the ([documentation on how to achieve it](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)). Take a moment or two to read the documentation and google examples because it is pretty complex.

When you obtain `google_agg`, check its values to make sure it has an `App` column as its index as well as a `Positive` column and a `Total` column. Your output should look like:

![Positive Reviews Agg](positive-review-agg.png)

*Hint: Use `positive_function` you created earlier as part of the param passed to the `agg()` function in order to aggregate the number of positive reviews.*

#### Bonus:

As of Pandas v0.23.4, you may opt to supply an array or an object to `agg()`. If you use the array param, you'll need to rename the columns so that their names are `Positive` and `Total`. Using the object param will allow you to create the aggregated columns with the desirable names without renaming them. However, you will probably encounter a warning indicating supplying an object to `agg()` will become outdated. It's up to you which way you will use. Try both ways out. Any way is fine as long as it works.

Print the first 5 rows of `google_agg` to check it.

In [ ]:
# Your code here:

#### Add a derived column to `google_agg` that is the ratio of the `Positive` and the `Total` columns. Call this column `Positive Ratio`. 

Make sure to account for the case where the denominator is zero using the `np.where()` function.

In [120]:
google_agg["Positive Ratio"]= google_agg["Positive"]/google_agg["Total"]

#### Now drop the `Positive` and `Total` columns. Do this with `inplace=True`.

In [121]:
google_agg.drop(["Positive", "Total"], axis=1, inplace=True)

Print the first 5 rows of `google_agg`. Your output should look like:

![Positive Reviews Agg](positive-review-ratio.png)

In [122]:
google_agg.head()

Sentiment                         Positive Ratio
App
10 Best Foods for You                   0.835052
104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室        0.775000
11st                                    0.589744
1800 Contacts - Lens Store              0.800000
1LINE – One Line with One Touch         0.710526

In [123]:
google_agg["App"]=google_agg.index
google_agg.reset_index(drop=True, inplace=True)

In [126]:
google_agg = google_agg.sort_values(by="App")
google_agg

Sentiment  Positive Ratio                                                App
0                0.835052                              10 Best Foods for You
1                0.775000                   104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室
2                0.589744                                               11st
3                0.800000                         1800 Contacts - Lens Store
4                0.710526                    1LINE – One Line with One Touch
..                    ...                                                ...
860              0.573529  Hotels.com: Book Hotel Rooms & Find Vacation D...
861              0.500000     Hotspot Shield Free VPN Proxy & Wi-Fi Security
862              0.437500                                            Hotstar
863              0.484848                     Hotwire Hotel & Car Rental App
864              0.380952                     Housing-Real Estate & Property

[865 rows x 2 columns]

# Challenge 3 - Join the Dataframes

In this part of the lab, we will join the two dataframes and obtain a dataframe that contains features we can use in our ML algorithm.

In the next cell, join the `google_missing_removed` dataframe with the `google_agg` dataframe on the `App` column. Assign this dataframe to the variable `google`.

In [100]:
#google_missing_removed["google"]=""

Index(['Positive Ratio'], dtype='object', name='Sentiment')

In [132]:
google_missing_removed = google_missing_removed.sort_values(by="App")

In [143]:
google_agg

Sentiment  Positive Ratio                                                App
0                0.835052                              10 Best Foods for You
1                0.775000                   104 找工作 - 找工作 找打工 找兼職 履歷健檢 履歷診療室
2                0.589744                                               11st
3                0.800000                         1800 Contacts - Lens Store
4                0.710526                    1LINE – One Line with One Touch
..                    ...                                                ...
860              0.573529  Hotels.com: Book Hotel Rooms & Find Vacation D...
861              0.500000     Hotspot Shield Free VPN Proxy & Wi-Fi Security
862              0.437500                                            Hotstar
863              0.484848                     Hotwire Hotel & Car Rental App
864              0.380952                     Housing-Real Estate & Property

[865 rows x 2 columns]

In [139]:
len(google_agg["App"]), len(google_missing_removed["App"])

(865, 9360)

In [155]:
google_missing_removed = pd.merge(google_missing_removed, google_agg[['App', 'Positive Ratio']], on='App', how='left')
google_missing_removed["Positive Ratio"].unique()[:20]

array([       nan, 0.83505155, 0.58974359, 0.8       , 0.71052632,
       0.78125   , 0.85      , 0.68421053, 0.575     , 0.79487179,
       0.425     , 0.87096774, 0.71428571, 1.        , 0.77777778,
       0.875     , 0.90909091, 0.47488584, 0.97435897, 0.80116959])

#### Let's look at the final result using the `head()` function. Your final product should look like:

![Final Product](google-final-head.png)

In [156]:
google_agg[google_agg["App"]=="Coloring book moana"]

Sentiment  Positive Ratio                  App
384              0.590909  Coloring book moana

In [157]:
merged_df[merged_df["App"]=="Coloring book moana"]

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Genres,Last Updated,Current Ver,Android Ver,Price Numerical,Positive Ratio
2372,Coloring book moana,FAMILY,3.9,974.0,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,0.0,0.590909
2373,Coloring book moana,ART_AND_DESIGN,3.9,967.0,"500,000+",Free,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up,0.0,0.590909